<!-- a layout for the main pages that shows the side bar with various options -->
<template name="layout">
<head>
    
    <!-- <script src="parts.js"></script>-->

      <!--Import materialize.css-->
     
   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css">
        <link type="text/css" rel="stylesheet" href="css/typeaheadjs.css"  media="screen,projection"/>
   <!-- <script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>-->
   
    
      

   
<!--<script type="text/javascript" src="js/typeahead.bundle.js"></script>
<script type="text/javascript" src="js/bootstrap3-typeahead.js"></script>-->

</head>

{{>Template.dynamic template=content}}
    
   <script type="text/javascript" src="js/jquery.touchSwipe.js"></script>
   
     <script type="text/javascript" src="js/bootstrap.js"></script>
  
    <script src="//cdn.jsdelivr.net/mojs/latest/mo.min.js"></script>
<script src="//cdn.jsdelivr.net/velocity/1.5/velocity.min.js"></script>
      <script type="text/javascript" src="js/typeahead.bundle.js"></script>
      <!--<script type="text/javascript" src="js/typeahead.jquery.js"></script>
      <script type="text/javascript" src="js/bloodhound.js"></script>-->

       <script src="js/mo.js"></script>
</template>



