
<!--
This is the newest operator search

-->
<template name="opsearchtest">
  
    
    <div id="the-basics">
  <input class="typeahead " id="name" type="text" placeholder="Operator's name">

</div>
<script>



$('#name').focus();
 </script>
<!--<textarea id="myTextarea" cols="25" rows="15"></textarea>-->
<!--<div class="form-group">
  <label for="comment">Operator's to show productivity for:</label>
  <textarea class="form-control" rows="5" id="myTextarea"></textarea>
</div>
<button class="btn btn-default indigo z-depth-3 whitetext" id="button1" type="submit">Add operator</button>
<br>-->
<script>

</script>
</template>



<!--
<template name="standardLegends1">
 <span class="textblack ">{{name}} </span>
</template>

-->
