<template name="workcentersearchtest">
    {{test}}
    <div id="the-basics">
  <input class="typeahead" id="workcenter" name="workcenter" type="text" placeholder="Work centers name">
</div>
<script>

</script>
</template>



<!--
<template name="standardLegends1">
 <span class="textblack ">{{name}} </span>
</template>

-->
