<template name="opaverageworkcell">
<script src="/http://code.highcharts.com/highcharts-3d.js"></script>
<div id="container"></div>
<!--Show when this occured-->
{{timeframe}}

{{> highchartsHelper chartId="test" chartWidth="90%" charHeight="90%" chartObject=topGenresChart}}
<form class="form-inline center">

	<div class="form-group mytext center-align">
			<div class="input-group input-field col center-align" style="width: 220px;">
					<input id="start" type="date" class="datepicker validate required text1"  required>

					<label for="" class="fontbigger active"> Start Date </label>

			</div>


			<div class="input-group input-field col" style="width: 220px;">
				<input id="end" type="date" class="datepicker validate required text1" required>

					<label for="" class="fontbigger active">End Date </label>

	</div>
	 </div>


</form>

{{#if $.Session.equals 'loading' 1}}
   <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

{{/if}}

  <script>

</script>
</template>
