
<!--
This is the newest operator search

-->
<template name="opsearchtestnew">
  
    
<input class="form-control typeahead" name="team" type="text"
       placeholder="Operators"
       autocomplete="off" spellcheck="off"
       data-source="test"/>



<script>




 </script>
<!--<textarea id="myTextarea" cols="25" rows="15"></textarea>-->
<!--<div class="form-group">
  <label for="comment">Operator's to show productivity for:</label>
  <textarea class="form-control" rows="5" id="myTextarea"></textarea>
</div>
<button class="btn btn-default indigo z-depth-3 whitetext" id="button1" type="submit">Add operator</button>
<br>-->
<script>

</script>
</template>



<!--
<template name="standardLegends1">
 <span class="textblack ">{{name}} </span>
</template>

-->
