
<!--
This is the newest operator search

-->
<template name="opsearchnewest">
  
    
							Operator:
                          <select name="operator" class="js-example-basic-single operator form-control" style="width:10vw;" tabindex="2">
                            {{#each operators}}
                           <option value="{{this}}">{{this}}</option>
                           {{/each}}
                        </select>



<script>




 </script>
<!--<textarea id="myTextarea" cols="25" rows="15"></textarea>-->
<!--<div class="form-group">
  <label for="comment">Operator's to show productivity for:</label>
  <textarea class="form-control" rows="5" id="myTextarea"></textarea>
</div>
<button class="btn btn-default indigo z-depth-3 whitetext" id="button1" type="submit">Add operator</button>
<br>-->
<script>

</script>
</template>



<!--
<template name="standardLegends1">
 <span class="textblack ">{{name}} </span>
</template>

-->
