.floatcontainer {
    float: right;
}
.inner {
    
    position:fixed;
}

.box
{
  margin-top:20px;
  margin-bottom:20px;
  max-width:768px;
  height:300px;
  
  padding: 10px;
  background-color: #EEE;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  
  text-align:center;
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
  
  overflow:hidden;
}


.getmdl-select {

  .mdl-icon-toggle__label {
    float: right;
    margin-top: -30px;
    color: rgba(0, 0, 0, 0.4);
  }
  &.is-focused {
    .mdl-icon-toggle__label {
      color: #3f51b5;
    }
  }

  .mdl-menu__container {
    width: 100% !important;
    overflow: hidden;
    .mdl-menu .mdl-menu__item {
      font-size: 16px;
    }
  }
}
.getmdl-select__fullwidth {
  .mdl-menu {
    width: 100%;
  }
}

.getmdl-select__fix-height{
  .mdl-menu__container{
    overflow-y: auto;
    max-height: 300px !important;
  }
  .mdl-menu.mdl-menu--top-left {
    bottom: auto;
    top: 0;
  }
}



#wrapper {
  display: flex;
}
#left {
  flex: 0 0 50%;
}
#right {
  flex: 1;
}



/*
Footer

*/
#footer{}
 #footer .wrap.about{width:70%;padding:0 10%;max-width:800px;margin-bottom:20px;}
 
 #footer a{-webkit-transition:color .15s linear;}
 #footer a:hover{color:#fff;}
 #footer p{font-size:20px;font-weight:100;color:#fff;line-height:1.25em;margin-bottom:40px;}
 #footer ul li{float:left;width:33%;font-size:16px;margin-bottom:20px;color:#fff;line-height:1.25em;text-transform:uppercase;position:relative;}
 #footer ul li img{border-radius:100%;}
 #footer ul li em{font-size:12px;letter-spacing:.2em;font-weight:100;display:inline-block;margin-top:1em;}
 #footer ul li a{text-transform:none;}
 #footer .wrap.follow{border-top:5px solid #1c1c1c;padding-top:40px;}
 #footer .wrap.follow p{color:#999;}
 #footer small{margin-bottom:20px;display:block;color:#666;text-transform:uppercase;font-weight:200;font-size:12px;}



.datahistory
{

  height: 70vh
}






.thick {
    font-weight: bold;
}


/*
Horizontal modal

*/
.margin-bottom{
  margin-bottom: 10px;
   margin-top: 10px;
}
.menunav{
//display: none;
    position: absolute;
    background-color: #f9f9f9;
  //  min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
   top:80px;
}


.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}







/*
snack bar
*/
/* basic typeahead styles */

.typeahead,
.tt-query,
.tt-hint {
   top: auto;
    bottom: 100% !important;
  width: 396px;
  padding: 8px 12px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
 // border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {

  width: 422px;
  margin: 4px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}


.drop-up {
    top: auto;
    bottom: 100% !important;
}
.test-margin
{
  margin-bottom: 5%;
}
.font-medium
{
font-size:70%;

}
.outer-div
{
//display: inline-block;
   position: absolute;
     text-align: center;
     width: 100%;
     bottom: 30px;
}

#outer {
  width: 100%;
  text-align: center;
}

#snackbar {
  
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    //margin-left: -125px; /* Divide value of min-width by 2 */
    margin:0 auto;
    background-color: #5c6bc0; 
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 10px; /* Padding */
   //position: absolute; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    //left: 34vw; /* Center the snackbar */
    display: table;
     display: inline-block;
     width: 50vw ;

  //position: absolute;
  margin-left: auto ;
  margin-right: auto ;
 min-height: 10vh;
overflow: hidden;

  //position:fixed;
 // width: 75%;
   //left: 38%;
//margin-left: -37.5%;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* snackbar end*/




//---------------------------------------------
tr.bgtest { background-color: #e0e0e0; }
.hide{

visibility: hidden

}
a {
   
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}
.toasttext
{
font-size:150%;

}
.toasttextbig
{
font-size:200%;

}
.datetext
{

  color: #9e9e9e;
  font-size: 1rem;
}

.fontbigger
{
font-size: 115%

}

/* Refresh test */

.colorimg
{
     border: .5px solid black;
     margin: 10px 10px 10px 10px;
}
 .textwhite
 {
  color:white;
 }
  .textblack
 {
  color:black;
 }
.modaltest
{
  
    text-align: center;

}
#initials {
   /* background-color: white;
    color:gray;
   */
}
#initials:focus {
   
}
#initialstest {
   /* background-color: white; */
    color:white;
  
}
#initialstest:focus {
   
}
.topleft
{
margin: 0;
    padding: 0;

}
.centertestnew
{

  position:relative;
    margin: 0 auto; 
}
.centertest
{

   width: 50%;
    margin: 0 auto; 
}
.vertical
{
  
  position: relative;
  top: 50%;
  transform: translateY(-50%);


}
#toast-containertest {
  display: block;
  position: fixed;
  z-index: 10000;
}

@media only screen and (max-width: 600px) {
  #toast-containertest {
    min-width: 100%;
    bottom: 0%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  #toast-containertest {
    left: 5%;
    bottom: 7%;
    max-width: 90%;
  }
}

@media only screen and (min-width: 993px) {
  #toast-containertest {
    top: 10%;
    right: 7%;
    max-width: 86%;
  }
}
.spantest
{
  margin:0 auto;
  text-align: center;
}
.colortest
{ 
 border-radius: 2px;
  top: 0;
  width: auto;
  clear: both;
  margin-top: 10px;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.4em;
  word-break: break-all;
 float: right;
  padding: 10px 25px;
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;

 //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.test
{
   font-size: 250%; 
    
}
table{
 
}
table td {
 /* Style just to show the table cell boundaries */
}


table.no-spacing {
  border-spacing:0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
 
   
}
#table_container{
  clear:both;
    position: fixed; 
    bottom:0%;   
    width    : 50vw;
    height   : 20vh;
    left     : 50%;
    top      : 50%;
    margin-left : -25vw; /* half of the width  */
     /* half of the height */
    border: 1px solid black;
}
#table_box{
    background: #ffffff;
    position: fixed;

bottom: 0;
     width    : 60vw;
  
   
    /*good color is #9e9e9e*/
    /*good color is #9e9e9e*/
    /*box-shadow: 5px 5px 15px #888888;*/
     /*box-shadow: 5px 5px 15px #888888;*/
    color: black;
    font-size:75%;

}
#tabletest{
    background: #ffffff;
   /* position: fixed;*/


     /*width    : 60vw;*/
  
 
    font-size:75%;

}
.testimage
{
  margin: 0 auto;
  display: flex;
    align-items: center;
}
.testimage2
{
  margin: 0 auto;
  display: flex;
    align-items: center;
  
    top:10vh;
}

.outerdiv
{

}
#floater {
    float: left;
    height: 50%;
    width: 100%;
    margin-bottom: -50px;
}
#graph_container{
    
    width    : 1200px;
    height   : 360px;
    left     : 50%;
    top      : 50%;
    margin-left : -600px; /* half of the width  */
    margin-top  : -180px; /* half of the height */

}
#centered_box_graph{
  position : relative;   
    background: #ffffff ;
    padding: 1%;
    /*box-shadow: 5px 5px 15px #888888;*/
    color: black;
    font-size:125%;
       width    : 1000px;
margin: 0 auto;

   //margin: 0 auto;
}
#dataentry_container{
    position : absolute;    
    width    : 1200px;
    height   : 380px;
    left     : 50%;
    top      : 50%;
    margin-left : -600px; /* half of the width  */
    margin-top  : -190px; /* half of the height */
}
.dataentry_containernew{
    position : absolute;    
    width    : 95vw;
    height   : 95vh;
    left     : 50%;
    top      : 50%;
    margin-left : -47.5vw; /* half of the width  */
    margin-top  : -47.5vh; /* half of the height */
}
#repairlog_container{
    position : absolute;    
    width    : 700px;
    height   : 300px;
    left     : 50%;
    top      : 50%;
    margin-left : -350px; /* half of the width  */
    margin-top  : -150px; /* half of the height */
}
#centered_box{
    background: #e0e0e0;
    padding: 2%;
    /*good color is #9e9e9e*/
    /*box-shadow: 5px 5px 15px #888888;*/
     /*box-shadow: 5px 5px 15px #888888;*/
    color: white;
    font-size:125%;

}
#centered_box_blue{
    background: #fafafa;
    padding: 2%;
    /*good color is #9e9e9e*/
    /*box-shadow: 5px 5px 15px #888888;*/
     /*box-shadow: 5px 5px 15px #888888;*/
    color: #757575;
    font-size:125%;

}

#centered_box_data{
    background: #ffffff ;
    padding: 2%;
    /*box-shadow: 5px 5px 15px #888888;*/
    color: black;
    font-size:125%;
       width    : 700px;
   margin: 0 auto;
}
.centered_box_datanew{
    background: #ffffff ;
    padding: 1%;
    /*box-shadow: 5px 5px 15px #888888;*/
    color: black;
    font-size:75%;
       width    : 90vw;
   margin: 0 auto;
}
.tabletest
{
    text-align: center;
 font-size:125%;
    
}
.mytextnoalign {
   
    width: 20vw;
 
}

.mytextEntry {
    margin: 0 auto; 
    width: 25vw;
 
}

.newCenter {
    margin: 0 auto; 
  
 
}
.mytext {
    margin: 0 auto; 
    width: 20vw;
 
}
.mytextnew {

     margin: 0 auto; 
    width: 15vw;
     
 
}
.mytexttest
{

 width: 20vw;
  
}
body {
  height:100vh;
    font-family: verdana,arial,sans-serif;
    font-size: 125%;
    
    
    font-weight: 300;
    
}
.green
{
   background-color:green;
}
.thumbnail {
    border: 0;
}




.form-control {
    height: 32px;
}

.h4, h4 {
    width: auto;
    float: left;
    font-size: 20px;
    line-height: 1.1;
    margin-top: 5px;
    margin-bottom: 5px;
}

.controls {
    float: right;
    display: inline-block;
}


.well {
    position: relative;
    display: inline-block;
}

.panel-heading {
    display: inline-block;
    width: 100%;
}

.container {
    width: 100%
}


.containernew {
  display: flex;
}
.containernew > div {
  flex: 1; /*grow*/
}

@import "{poetic:materialize-scss}/sass/materialize.scss";