<template name="graph">
<head>

    <!-- <script src="parts.js"></script>-->
   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
     


      <style>


      .picker__date-display, .picker__weekday-display{
          background-color: #9fa8da;
      }
      div.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted {
        background-color: #9fa8da;
    }
    button.picker__today, button.picker__close{
    color: #9fa8da;
      }
      /* label focus color */
   .input-field input:focus + label {
     color: #9fa8da !important;
   }
   /* label underline focus color */
   .row .input-field input:focus {
     border-bottom: 1px solid #9fa8da !important;
     box-shadow: 0 1px 0 0 #9fa8da !important
   }
      </style>


</head>
<link type="text/css" rel="stylesheet" href="css/bootstrap-material-design.css" />


{{tempaverage}}



<!--  TEST -->
<div class="center">
 <div id="floater"></div>


<img src="logo.jpg " class="z-depth-3  center  "><br><br>



            <div id="centered_box_graph"  class="z-depth-5 center ">

     <div class="center">
        {{#if $.Session.equals 'countnew' -1}}
 {{>testgraphnew}}

<div class="form-group mytext">

    <select id="s1" class="form-control drop" required>
      <option value="datacom">Datacom</option>
       <option value="packing">Packing</option>
       <option value="manual">Manual</option>
       <option value="scd">SCD</option>
       <option value="manualboxes">Manual Boxes</option>
       <option value="metals">Metals</option>
       <option value="raceway">Raceway</option>
       <option value="wiu">WIU</option>
       <option value="autoboxes">Auto boxes</option>
       <option value="husky">Husky</option>
    </select>

</div>


 <button class="btn btn-default waves-effect waves-light 2 indigo lighten-3 z-depth-3 whitetext" id="test" type="submit">Select</button> <br>

 <button class="btn btn-default waves-effect waves-light 1 indigo lighten-3 z-depth-3 whitetext" id="test" type="submit">Graph Menu</button>

{{/if}}

      {{#if $.Session.equals 'countnew' 0}}



 <button class="btn btn-default waves-effect waves-light 2 indigo lighten-3 z-depth-3 whitetext" id="test" type="submit">Graph Menu</button>
   {{/if}}
    {{#if $.Session.equals 'countnew' 1}}



<div class="form-group mytext">
     <label for="" class=""><span class=""> Please select an option</span></label>
    <select id="s1" class="form-control drop" required>
      <option value="operator">Operator graphs</option>
       <option value="workcenter">Workcenter graphs</option>
        <option value="vs">Temp vs Permanent graph</option>
    </select>

</div>

<button class="btn btn-default waves-effect waves-light 2 indigo lighten-3 z-depth-3 whitetext" id="test" type="submit">Select</button>


      {{/if}}



 {{#if $.Session.equals 'choice' "operator"}}
  {{#if $.Session.equals 'countnew' 2}}
<label for="" class=""><span class=""> Please enter an operator's name </span></label><br>
<div class="mytext">
<!--If fire fox then opsearchtest
If other browsers then opsearch-->
 <!--{{#if $.Session.equals 'browser' 'chrome'}}

 {{>opsearchtest}}
  {{/if}}
{{#if $.Session.equals 'browser' 'firefox'}}
 {{>opsearch}}
  {{/if}}-->
   {{>opsearchtest}}
<!-- Here I need to make a browser detector that chooses to show opsearch of opsearchtest based
on the browser chosen. -->
<!--{{>opsearchtest}}-->
<!--Work on getting opsearchtest working for firefox-->
<!--{{>workcentersearchtest}}-->
</div>

 <button class="btn btn-default waves-effect waves-light 1 indigo lighten-3 z-depth-3 whitetext" id="test" type="submit">Previous</button>

<button class="btn btn-default waves-effect waves-light 2 indigo lighten-3 z-depth-3 whitetext" id="test" type="submit">Select</button>

{{/if}}
 {{#if $.Session.equals 'countnew' 3}}
<!-- I need to grab the choice and use it to determine which graphs to show -->


<div class="form-group mytext">
    <label for="" class=""><span class=""> Please select an option</span></label>
    <select id="s1" class="form-control drop" required>
         <option value="all">Averages for all workcenters</option>
       <option value="single">Productivity average by workcenter</option>
       <option value="overall">Overall average of all workcenters</option>
    </select>

</div>
 <button class="btn btn-default waves-effect waves-light 1 indigo lighten-3 z-depth-3 whitetext" id="test" type="submit">Previous</button>
<button class="btn btn-default waves-effect waves-light 2 indigo lighten-3 z-depth-3 whitetext" id="test" type="submit">Select</button>

{{/if}}

{{#if $.Session.equals 'countnew' 4}}
<!-- Here I will have a drop down that only shows the work centers associated with this operator-->
<!-- Session variable for their choice -->
{{#if $.Session.equals 'operatorchoice' "single"}}
<!--basically Here I will show a copy of the testgraphworkcell that takes into consideration the operator-->

{{>opworkcell}}




<div class="form-group mytext">
    {{>searchoperator}}

</div>


 <button class="btn btn-default waves-effect waves-light 1 indigo lighten-3 z-depth-3 whitetext" id="test" type="submit">Previous</button>
<button class="btn btn-default waves-effect waves-light 2 indigo lighten-3 z-depth-3 whitetext" id="test" type="submit">Select</button>

{{/if}}
{{#if $.Session.equals 'operatorchoice' "overall"}}
<!--basically Here I will show a copy of the testgraphworkcell that takes into consideration the operator-->

{{>opaverageworkcell}}

 <button class="btn btn-default waves-effect waves-light 1 indigo lighten-3 z-depth-3 whitetext" id="test" type="submit">Previous</button>

{{/if}}
{{#if $.Session.equals 'operatorchoice' "all"}}
<!--basically Here I will show a copy of the testgraphworkcell that takes into consideration the operator-->

{{>allopworkcell}}

 <button class="btn btn-default waves-effect waves-light 1 indigo lighten-3 z-depth-3 whitetext" id="test" type="submit">Previous</button>

{{/if}}


  {{/if}}
  {{/if}}
 {{#if $.Session.equals 'choice' "workcenter"}}

 {{#if $.Session.equals 'countnew' 2}}
 <!-- Here the user needs to select if they want to look at a shift of a specific work center or
 if they want to compare the average of all work centers-->
<div class="form-group mytext">
    <label for="" class=""><span class=""> Please select an option</span></label>
    <select id="s1" class="form-control drop" required>
      <option value="shift">View Workcenter Shifts</option>
       <option value="all">Compare All Workcenters</option>
       <option value="losttime">View Lost Time</option>
       <option value="downtime">View Equipment Downtime</option>
    </select>

</div>
 <button class="btn btn-default waves-effect waves-light 1 indigo lighten-3 z-depth-3 whitetext" id="test" type="submit">Previous</button>
<button class="btn btn-default waves-effect waves-light 2 indigo lighten-3 z-depth-3 whitetext" id="test" type="submit">Select</button>

{{/if}}
 {{#if $.Session.equals 'countnew' 3}}
 {{#if $.Session.equals 'workcenterchoice' "shift"}}

 {{>testgraphworkcell}}
<div class="form-group mytext">
<!--    {{>search2}}-->
  {{>workcentersearchtest}}
</div>

 <button class="btn btn-default waves-effect waves-light 1 indigo lighten-3 z-depth-3 whitetext" id="test" type="submit">Previous</button><br>

  <button class="btn btn-default waves-effect waves-light indigo lighten-3 z-depth-3 whitetext modaltrigger" data-toggle="modal" data-target="#modal1">Workcenter lookup</button>



{{/if}}
{{#if $.Session.equals 'workcenterchoice' "losttime"}}

{{>losttime}}
<div class="form-group mytext">
      {{>workcentersearchtest}}

</div>

<button class="btn btn-default waves-effect waves-light 1 indigo lighten-3 z-depth-3 whitetext" id="test" type="submit">Previous</button><br>

 <button class="btn btn-default waves-effect waves-light indigo lighten-3 z-depth-3 whitetext modaltrigger" data-toggle="modal" data-target="#modal1">Workcenter lookup</button>




{{/if}}
{{#if $.Session.equals 'workcenterchoice' "downtime"}}

{{>downtime}}
<div class="form-group mytext">
  {{>workcentersearchtest}}

</div>

<button class="btn btn-default waves-effect waves-light 1 indigo lighten-3 z-depth-3 whitetext" id="test" type="submit">Previous</button><br>
<!--workcenter find ere-->

 <button class="btn btn-default waves-effect waves-light indigo lighten-3 z-depth-3 whitetext modaltrigger" data-toggle="modal" data-target="#modal1">Workcenter lookup</button>



{{/if}}
 {{#if $.Session.equals 'workcenterchoice' "all"}}

{{>allworkcell}}
<div class="form-group mytext">

    <select id="s1" class="form-control drop" required>
      <option value="datacom">Datacom</option>
       <option value="packing">Packing</option>
       <option value="manual">Manual</option>
       <option value="scd">SCD</option>
       <option value="manualboxes">Manual Boxes</option>
       <option value="metals">Metals</option>
       <option value="raceway">Raceway</option>
       <option value="wiu">WIU</option>
       <option value="autoboxes">Auto boxes</option>
       <option value="husky">Husky</option>
    </select>

</div>
 <button class="btn btn-default waves-effect waves-light 2 indigo lighten-3 z-depth-3 whitetext" id="test" type="submit">Select</button> <br>

 <button class="btn btn-default waves-effect waves-light 1 indigo lighten-3 z-depth-3 whitetext" id="test" type="submit">Previous</button>








{{/if}}
{{/if}}
    {{/if}}





</div>
</div>
</div>
<script type="text/javascript" src="js/bootstrap.js"></script>
</template>
