<template name="opsearch">
   
        {{> inputAutocomplete settings=settings id="name" class="form-control" autocomplete="on" name="partnumber" placeholder="Please enter the operator's name" }}
 

    </template>

<template name="standardLegends1">
 <span class="textblack ">{{name}} </span>
</template>

