<template name="menunew">

<style type="text/css">
html {
        overflow: auto;
        overflow-y: hidden;
}
</style>
  <head> 
    <title>links</title>

        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
     

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    

  
  </head>
  <body>
 
  <div class="center" id="repairlog_container">
  <img src="logo.jpg " class="z-depth-3"><br><br>
            <div id="centered_box" class="z-depth-5 center">
      
     
        <br>
        <button class="btn btn-default scanner light-blue z-depth-3 links">Barcode Scanner </button><br>
        <button class="btn btn-default history light-blue z-depth-3 links">Scan History </button><br>
        <button class="btn btn-default dataentry light-blue z-depth-3 links">Data entry </button><br>
        <button class="btn btn-default graph light-blue z-depth-3 links" href="/graph">Graphs </button>
       
      
        
          
    </div>
  </div>
<section id="footer" >


<small>Created by: Peter Larrimore, e-mail: plarrimo@uncc.edu</small>

</section>
    </body>





</template>