<template name="firstnew">
  
  <style>
 html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    font-size:100%; 
  }
  table{
     font-size:200%; 
  }
</style>
<body class={{backgroundcolor}}>
    <!--
Date		Calendar Pop			
Shift		Pull down menu			
Department		Pull down menu			
Workcenter		Pull down selection by dept.			
Operator Name		Multi	Auto populate as type		+1 key
Operator Name		up to 4	Auto populate as type		+1 key
	…..				
	…..				
Cat #/PN		Sing	Input catalog number run most of day.		
Planned Units		Sing Entry			
Actual Units		Sing Entry			
Units Missed		Auto Calc.	New		
Minutes Lost			New		



-->
<div id="test" >Swipe me</div>
 {{show}}
 {{datacount}}
 <button class="btn btn-default waves-effect prev waves-light z-depth-3 whitetext left" id="test" type="submit">Previous</button>
  <button class="btn btn-default waves-effect next waves-light z-depth-3 whitetext right"  >Next</button>

 <div id="" class="center dataentry_containernew" > <!-- This is the div containing everything -->
   <!--Add Previous button on top left 
    Add Next button on top right
  
  -->
   
   <img src="logo.jpg " class="z-depth-3 centertestnew" height="13%" width="16%">
       
   <div id=""  class="z-depth-5 center centered_box_datanew"> <!-- Div also contains everything-->
   <span class="left">{{prn}} </span>
   <span class="floatcontainer"> Minutes Remaining To Account For: {{$.Session.get 'minutesRemaining'}}</span><br>
      <div class="center">
        
         <ul class="collapsible" data-collapsible="accordion">
          
           <li>
               <div class="collapsible-header active plan2actualheader">Plan to Actual</div>
               <div class="collapsible-body">
                  <span class="center">
                      <form class="plantoactual" >
                <div class="containernew">
  <div><!--Left div-->

  <div class="form-group">
   
                      Date:
                     <input name="date" type="text" class="datepicker " style="width:10vw;" tabindex="1"><br>
                  

                       <!--  <input name="operator"  class="operator" type="text" align="right" style="width:10vw;" tabindex="2">-->
                        <!--Operator:
                          <select name="operator" class="js-example-basic-single operator form-control" style="width:10vw;" tabindex="2">
                            {{#each operators}}
                           <option value="{{this}}">{{this}}</option>
                           {{/each}}
                        </select>-->
                        {{>opsearchnewest}}
                         <br>
                         <!--test:
                          <input class="js-typeahead"
                       name="q"
                       type="search"
                       autocomplete="off">-->


                     <!-- test
                       <select class="js-example-basic-single" multiple="multiple">
                          
                        </select>-->
                        <!-- <input class="typeahead " id="name" type="text" placeholder="Operator's name">-->
                    

                    <br>
                      Cat #/PN:
                        <input name="partnumber" type="text" align="right" class="partnumber" style="width:10vw;" tabindex="3"><br>
                        Minutes Lost:
                        <input name="minuteslost" type="text" align="right" class="" style="width:10vw;" tabindex="4">
                      
                      </div>  



  </div>
  <div>
    <div class="form-group ">
  <!--Middle div-->

                   <div  class="center " style="display: inline-block;">
                      
                   
                     <label> Shift: </label>
                        <select name="shift" id="shift" class=" form-control " style="width:10vw;" tabindex="5">
                           <option value="shift 1">1</option>
                           <option value="shift 2">2</option>
                           <option value="shift 3">3</option>
                        </select><br>
                        <label>  Department:</label>
                        <select name="department" id="department" class="form-control" style="width:10vw;" tabindex="6">
                           <option value="datacom">Datacom</option>
                           <option value="packing">Packing</option>
                           <option value="manual">Manual</option>
                           <option value="scd">SCD</option>
                           <option value="manualboxes">Manual Boxes</option>
                           <option value="metals">Metals</option>
                           <option value="raceway">Raceway</option>
                           <option value="wiu">WIU</option>
                           <option value="autoboxes">Auto boxes</option>
                           <option value="husky">Husky</option>
                        </select><br>
                       <label>   Workcenters:</label>
                           <select name="workcenters" id="workcenters" class="form-control " style="width:10vw;" tabindex="7">
                           {{#each workcenters}}
                           <option value="{{this}}">{{this}}</option>
                           {{/each}}
                        </select>
                     
                      
                       </div>  


      </div>
    
    
    
  </div>  
  <div><!--Right div-->


     <div class="form-group ">
 
                          
                      Planned Units:
                        <input name="planned" type="text" class="" style="width:10vw;" tabindex="8"><br>
                          Actual Units:
                        <input name="actual" type="text" class="" style="width:10vw;" tabindex="9"><br>
                        Units Missed:
                        <input name="unitsmissed" type="text" class="" style="width:10vw;"  disabled><br>
                        Calculated Minutes Lost:
                        <input name="calculatedminuteslost" type="text" class="" style="width:10vw;"  disabled>
                       
                      
                    
</div>




  </div>
</div>
           
              
              
                 </form>






                  </span>
               </div>
            </li>    
            <li>
               <div class="collapsible-header lostimeheader">Lost Time</div>
               <!--
                        Lost Time Minutes								
                          Not Scheduled			Sing	Default to 0			
                          Planned Downtime			Sing	Default to 0			
                          Start-up			Sing	Default to 0			
                        Manual Entry Key	No Operator			Sing	Default to 0			
                          Training/Meeting			Sing	Default to 0			
                          Part Shortage			Sing	Default to 0			
                          Getting Parts			Sing	Default to 0			
                          Quality Issues			Sing	Default to 0			
                          Changeover			Sing	Default to 0			
                          Other			Sing	Default to 0			




                -->



               <div class="collapsible-body"><span>
                 <form class="losttime">
              <div id="wrapper">
  <div id="left">
      <div class="form-group ">
  
  
                         Not Scheduled:
                         <input type="text" name="notScheduled"  class="" style="width:10vw;" value=0 tabindex="10"><br>
                       
                       Planned Downtime:
                        <input type="text" name="plannedDowntime"  class="" style="width:10vw;" value=0 tabindex="11"><br>
                      Start-up:
                        <input type="text" name="startup" class="" style="width:10vw;" value=0 tabindex="12"><br>
                          Manual Entry Key:
                        <input type="text" name="manualEntryKey" class="" style="width:10vw;" value=0 tabindex="13"><br>
                        Training/Meeting: 
                        <input type="text" name="training" class="" style="width:10vw;" value=0 tabindex="14">
                                   




                      
                      
                      
                      
                      </div>  




                        </div>   
  <div id="right">  
    
    <div class="form-group ">
 
                       
                        Part Shortage:
                         <input type="text" name="partShortage" align="right" class="" style="width:10vw;" value=0 tabindex="15"><br>
                       
                      Getting Parts:
                        <input type="text" name="gettingParts" align="right" class="" style="width:10vw;" value=0 tabindex="16"><br>
                      Quality Issues:
                        <input type="text" name="qualityIssues" class="" style="width:10vw;" value=0 tabindex="17"><br>
                          Changeover:
                        <input type="text" name="changeOver" class="" style="width:10vw;" value=0 tabindex="18"><br>
                        Other:
                        <input type="text" name="other" class="" style="width:10vw;" value=0 tabindex="19">
                                   
                       
                          
</div>
                     </div>

                     

 </div>   
              
               </form>
              </span></div>
            </li>
           
            <li>
              <!--
                	Major Downtime Items by Dept by Workcenter (min) (Example below Husky)								Expandable	
                    Injection Machine			Sing	Default to 0				
                    Robot			Sing	Default to 0				
                    Buffer			Sing	Default to 0				
                    Flat Belt Conveyor			Sing	Default to 0				
                    Waterfall			Sing	Default to 0				
                    Screw Insertion			Sing	Default to 0				
                    Reject Station			Sing	Default to 0				
                    Doboy			Sing	Default to 0				
                    Printer			Sing	Default to 0				
                    Other			Sing	Default to 0. Provide Text entry of other				
                    Accounted Downtime			Auto fill	Sum of above				
                    Unaccounted Downtime			Auto fill	Based on Minutes Lost - total above (Red if above zero. Green zero or less)				
						Eventually will need to not save or advance when operators begin to enter.				





                -->
               <div class="collapsible-header downtimeheader">Downtime</div>
               <div class="collapsible-body"><span>
                    <form class="downtime">
                     <div class="containernew">
  <div><!--Left div-->

  <div class="form-group">
   
                            Injection Machine:
                         <input type="text" name="injectionMachine" align="right" class="" style="width:10vw;" value=0 tabindex="20"><br>
                       
                       Robot:
                        <input type="text" name="robot" align="right" class="" style="width:10vw;" value=0 tabindex="21"><br>
                      Buffer:
                        <input type="text" name="buffer" class="" style="width:10vw;" value=0 tabindex="22"><br>
                         Flat Belt Conveyor:
                        <input type="text" name="flatBeltConveyor" class="" style="width:10vw;" value=0 tabindex="23"><br>
                      

                    
                      
                      </div>  



  </div>
  <div>
    <div class="form-group ">
  <!--Middle div-->
                    Waterfall:
                        <input type="text" name="waterfall" class="" style="width:10vw;" value=0 tabindex="24"><br>
                          Screw Insertion:
                         <input type="text" name="screwInsertion" align="right" class="" style="width:10vw;" value=0 tabindex="25"><br>
                       
                      Reject Station:
                        <input type="text" name="rejectStation" align="right" class="" style="width:10vw;" value=0 tabindex="26"><br>
                      Doboy:
                        <input type="text" name="doboy" class="" style="width:10vw;" value=0 tabindex="27"><br>


      </div>
    
    
    
  </div>  
  <div><!--Right div-->


     <div class="form-group ">
 
                        
                          Printer:
                        <input type="text" name="printer" class="" style="width:10vw;" value=0 tabindex="28"><br>
                        Other:
                        <input type="text" name="other" class="" style="width:10vw;" value=0 tabindex="29"><br>
                          Accounted Downtime:
                        <input type="text" name="accountedDowntime" class="" style="width:10vw;" value=0 tabindex="30"><br>
                          Unaccounted Downtime:
                        <input type="text" name="unaccountedDowntime" class="" style="width:10vw;" value=0 tabindex="31">          
                        
                       
                      
                    
                      
</div>




  </div>
</div>
           
              
              
              
                 </form>
              </span></div>
            </li>
             <li>
               <!--
                  	Short Shot			Sing	Default to 0			
                    Sink			Sing	Default to 0			
                    Blush			Sing	Default to 0			
                    Burns			Sing	Default to 0			
                    Splay			Sing	Default to 0			
                    Flash			Sing	Default to 0			
                    Contamination			Sing	Default to 0			
                    Pin Push			Sing	Default to 0			
                    Dirty (Grease, Dirt, etc..)			Sing	Default to 0			
                    Warped			Sing	Default to 0			
                    Brittle			Sing	Default to 0			
                    Missing Screw			Sing	Default to 0			
                    Unsealed Package			Sing	Default to 0			
                    Barcode missing			Sing	Default to 0			
                    Barcode incorrect			Sing	Default to 0			
                    Barcode unreadable			Sing	Default to 0			
                    Other			Sing	Default to 0. Provide Text entry of other			
                -->
               <div class="collapsible-header qualitydefectsheader">Quality Defects</div>
               <div class="collapsible-body"><span>
                  {{>qualitydefects}}
              </span></div>
            </li>
         </ul>
      </div>
   </div>
   <br>
</div>




 
</body>
<!--<script type="text/javascript" src="js/typeahead.bundle.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>-->
    <script src="http://cdn.jsdelivr.net/mojs/latest/mo.min.js"></script>
</template>



 <template name="qualitydefects">

  <form class="qualitydefects">
                <div class="containernew">
              <!--  <option value="datacom">Datacom</option>
                           <option value="packing">Packing</option>
                           <option value="manual">Manual</option>
                           <option value="scd">SCD</option>
                           <option value="manualboxes">Manual Boxes</option>
                           <option value="metals">Metals</option>
                           <option value="raceway">Raceway</option>
                           <option value="wiu">WIU</option>
                           <option value="autoboxes">Auto boxes</option>
                           <option value="husky">Husky</option>-->
   {{#if $.Session.equals "department" "autoboxes"}}
 <div><!--Left div-->
<!-- AUTO BOXLINE

-->
  <div class="form-group">
   
                         BAR CODE:
                         <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="32"><br>
                       
                      BENT EARS:
                        <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="33"><br>
                      BURNS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="34"><br>
                          BURRS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="34"><br>
                          CONTAMINATION:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="35"><br>
                        DAMAGED IN NET:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="36"><br>
                     
                    
                      
                      </div>  



  </div>
  <div>
    <div class="form-group ">
  <!--Middle div-->


                        DIRTY:
                         <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="37"><br>
                        FLASH:
                        <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="38"><br>
                        GREASE:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="39"><br>
                         HOLE FILLED W/ PLASTIC:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="40"><br>
                         LABEL:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="41"><br>
                        MISSING SCREWS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="42"><br>  


      </div>
    
    
    
  </div>  
  <div><!--Right div-->


     <div class="form-group ">
 
                       
                        
                       
                      
                 <!--   PULLS
            RAIL GUIDES
            SHORT SHOTS
            SMASHED BOX
            WARP
            OTHER -->
                        
                         PULLS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="43"><br>          
                         RAIL GUIDES:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="44"><br> 
                          SHORT SHOTS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="45"><br> 
                         SMASHED BOX:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="46"><br> 
                         WARP:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="47"><br>
                         OTHER:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="48"><br>  
</div>




  </div>
{{/if}}

 <!--  <option value="datacom">Datacom</option>
                           <option value="packing">Packing</option>
                           <option value="manual">Manual</option>
                           <option value="scd">SCD</option>
                           <option value="manualboxes">Manual Boxes</option>
                           <option value="metals">Metals</option>
                           <option value="raceway">Raceway</option>
                           <option value="wiu">WIU</option>
                          
                           <option value="husky">Husky</option>-->
   {{#if $.Session.equals "department" "manualboxes"}}
<div><!--Left div-->
<!--
MANUAL BOX














 -->
  <div class="form-group">
   
                       
                       
                      BENT EARS:
                        <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="33"><br>
                      BENT QC:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="34"><br>
                          BURNS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="35"><br>
                       CONTAMINATION:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="36"><br>
                      
                    
                      
                      </div>  



  </div>
  <div>
    <div class="form-group ">
  <!--Middle div-->

                        FLASH:
                        <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="38"><br>
                        GREASE:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="39"><br>
                         LABEL:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="40"><br>
                         PULLS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="41"><br>
                        SHORT SHOTS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="42"><br>  


      </div>
    
    
    
  </div>  
  <div><!--Right div-->


     <div class="form-group ">
 
                       
                        
                       
             



                        
                          SMASHED BOX:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="43"><br>          
                         SPLAY:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="44"><br> 
                          WARP:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="45"><br> 
                         OTHER:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="46"><br> 
                        
</div>




  </div>

{{/if}}
 <!--  <option value="datacom">Datacom</option>
                           <option value="packing">Packing</option>
                           <option value="manual">Manual</option>
                           <option value="scd">SCD</option>
                         
                           <option value="metals">Metals</option>
                           <option value="raceway">Raceway</option>
                           <option value="wiu">WIU</option>
                          
                           <option value="husky">Husky</option>-->
   {{#if $.Session.equals "department" "datacom"}}
 <div><!--Left div

DATACOM






 -->
<!-- -->
  <div class="form-group">
   





                         BAG SEALING:
                         <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="32"><br>
                       
                      BAR CODE:
                        <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="33"><br>
                      BLISTERS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="34"><br>
                          BURNS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="35"><br>
                        CHIPPED PAINT:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="36"><br>
                      CONNECTOR:
                         <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="37"><br>
                     CONTAMINATION:
                         <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="37"><br>
                        CRACKED:
                         <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="37"><br>
                      
                      </div>  



  </div>
  <div>
    <div class="form-group ">
  <!--Middle div-->







                        GREASE:
                        <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="38"><br>
                        FLASH:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="39"><br>
                         LABEL:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="40"><br>
                         LINES:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="41"><br>
                        MARKS ON PLATES:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="42"><br> 
                        MISSING SCREWS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="42"><br>  

                        ORANGE PEEL:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="42"><br>  
 


      </div>
    
    
    
  </div>  
  <div><!--Right div-->


     <div class="form-group ">
      
                      
                    
                        
                         SHORT SHOTS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="43"><br>          
                         SINKS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="44"><br> 
                          SUBPLATE HOLES BROKEN:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="45"><br> 
                         TEETH MARKS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="46"><br> 
                         TORN BAGS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="47"><br>
                         WARP:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="48"><br>
                         WRONG SCREWS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="48"><br> 
                         OTHER:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="48"><br>   
</div>




  </div>


{{/if}}
 <!--  <option value="datacom">Datacom</option>
                           <option value="packing">Packing</option>
                           <option value="manual">Manual</option>
                           <option value="scd">SCD</option>
                          
                           <option value="metals">Metals</option>
                           <option value="raceway">Raceway</option>
                           <option value="wiu">WIU</option>
                          
                           <option value="husky">Husky</option>-->
   {{#if $.Session.equals "department" "husky"}}

 <div><!--Left div
HUSKY



 -->
<!-- -->
  <div class="form-group">
   





                         BAG SEALING:
                         <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="32"><br>
                       
                      BAR CODE:
                        <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="33"><br>
                      BLISTERS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="34"><br>
                          BROKEN SCREW HOLE:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="35"><br>
                        BURNS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="36"><br>
                      BURRS:
                         <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="37"><br>
                    
                      
                      </div>  



  </div>
  <div>
    <div class="form-group ">
  <!--Middle div-->






                        CONTAMINATION:
                        <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="38"><br>
                        GREASE:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="39"><br>
                         FLASH:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="40"><br>
                         MARKS ON PLATES:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="41"><br>
                     
                        MISSING SCREWS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="42"><br>  

                        MIXED COLORS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="42"><br>  
                         SCRATCHES:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="42"><br>  


      </div>
    
    
    
  </div>  
  <div><!--Right div-->


     <div class="form-group ">
 
                       
             
                       
                      
                    
                        
                         SHORT SHOTS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="43"><br>          
                         SINKS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="44"><br> 
                          WARP:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="45"><br> 
                         WRONG COMPONENT:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="46"><br> 
                         WRONG SCREWS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="47"><br>
                         OTHER:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="48"><br>
                       
</div>




  </div>

{{/if}}

 <!--  <option value="datacom">Datacom</option>
                           <option value="packing">Packing</option>
                           <option value="manual">Manual</option>
                           <option value="scd">SCD</option>
                          
                           <option value="metals">Metals</option>
                           <option value="raceway">Raceway</option>
                           <option value="wiu">WIU</option>
                          
                          -->
   {{#if $.Session.equals "department" "metals"}}
<div><!--Left div
METAL STAMPING


 -->
<!-- -->
  <div class="form-group">
   

                         BENT TERMINALS:
                         <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="32"><br>
                       
                      BURNS:
                        <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="33"><br>
                      BURRS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="34"><br>
                     
                    
                      
                      </div>  



  </div>
  <div>
    <div class="form-group ">
  <!--Middle div-->



                        MARKS ON PLATES:
                        <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="38"><br>
                        SCRATCHES:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="39"><br>
                         TEETH MARKS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="40"><br>
                       
      </div>
    
    
    
  </div>  
  <div><!--Right div-->


     <div class="form-group ">
 
                       
                    
                        
                         WARP:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="43"><br>          
                         GREASE:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="44"><br> 
                         OTHER:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="45"><br> 

                      
</div>




  </div>


{{/if}}
<!--  <option value="datacom">Datacom</option>
                           <option value="packing">Packing</option>
                           <option value="manual">Manual</option>
                           <option value="scd">SCD</option>
                          
                           
                           <option value="raceway">Raceway</option>
                           <option value="wiu">WIU</option>
                          
                          -->
   {{#if $.Session.equals "department" "manual"}}
<div><!--Left div
MANUAL ASSEMBLY





 -->
<!-- -->
  <div class="form-group">
   




                         BAG SEALING:
                         <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="32"><br>
                       
                      BENT TERMINAL:
                        <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="33"><br>
                      BLISTERS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="34"><br>
                      BUBBLES:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="34"><br>
                    
                      
                      </div>  



  </div>
  <div>
    <div class="form-group ">
  <!--Middle div-->



                        DENTS:
                        <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="38"><br>
                        GREASE:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="39"><br>
                         FLASH:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="40"><br>
                        SCRATCHES:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="40"><br>
                        SHORT SHOTS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="40"><br>
                       
      </div>
    
    
    
  </div>  
  <div><!--Right div-->


     <div class="form-group ">
          
                         SINKS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="43"><br>          
                         SPLAY:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="44"><br> 
                         WARP:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="45"><br>
                          OTHER:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="45"><br>  

                      
</div>




  </div>

{{/if}}


<!--  <option value="datacom">Datacom</option>
                           <option value="packing">Packing</option>
                           
                           <option value="scd">SCD</option>
                          
                           
                           <option value="raceway">Raceway</option>
                           <option value="wiu">WIU</option>
                          
                          -->
   {{#if $.Session.equals "department" "injection"}}

<div><!--Left div
INJECTION


 -->
<!-- -->
  <div class="form-group">
   

                         BURNS:
                         <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="32"><br>
                       
                      CONTAMINATION:
                        <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="33"><br>
                      FLASH:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="34"><br>
                      GREASE:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="34"><br>
                    
                      
                      </div>  



  </div>
  <div>
    <div class="form-group ">
  <!--Middle div-->




                        LIFTER MARK:
                        <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="38"><br>
                        MARKS ON PLATES:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="39"><br>
                         SCRATCHES:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="40"><br>
                        SHORT SHOTS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="40"><br>
                   
                       
      </div>
    
    
    
  </div>  
  <div><!--Right div-->


     <div class="form-group ">
 
       

                    
                        
                         SINKS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="43"><br>          
                         SPLAY:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="44"><br> 
                         WARP:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="45"><br>
                          OTHER:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="45"><br>  

                      
</div>




  </div>

{{/if}}

<!--  <option value="datacom">Datacom</option>
                           <option value="packing">Packing</option>
                           
                           <option value="scd">SCD</option>
                          
                           
                           <option value="raceway">Raceway</option>
                           <option value="wiu">WIU</option>
                          
                          -->
   {{#if $.Session.equals "department" "raceway"}}
<div><!--Left div
RACEWAY


 -->
<!-- -->
  <div class="form-group">
   


                         BURNS:
                         <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="32"><br>
                       
                      BURRS:
                        <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="33"><br>
                      CONTAMINATION:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="34"><br>
                      CRUSHED PARTS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="34"><br>
                    
                      
                      </div>  



  </div>
  <div>
    <div class="form-group ">
  <!--Middle div-->













                        GREASE:
                        <input type="text" align="right" class="" style="width:10vw;" value=0 tabindex="38"><br>
                        MIXED COLORS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="39"><br>
                         ROUGH EDGES:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="40"><br>
                        SCRATCHES:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="40"><br>
                   
                       
      </div>
    
    
    
  </div>  
  <div><!--Right div-->


     <div class="form-group ">
 
                       







                    
                        
                         SINKS:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="43"><br>          
                         SPLAY:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="44"><br> 
                         WARP:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="45"><br>
                          OTHER:
                        <input type="text" class="" style="width:10vw;" value=0 tabindex="45"><br>  

                      
</div>




  </div>

{{/if}}



</div><!-- End of container div -->
           
              
              
                 </form>




 </template>