<template name="jobordersystem">
   <head>
      <link type="text/css" rel="stylesheet" href="css/bootstrap-material-design.css"  />
   </head>
   <script src=https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js></script>
   <body class={{$.Session.get 'color'}}>
   <!-- choose which good function to show here -->
   <div class="center" id="repairlog_container">
      <img src="logo.jpg " class="z-depth-3"><br><br>
      <div id="centered_box_blue"  class="z-depth-5">
         <!-- Change the text here-->
         {{#if $.Session.equals 'start' 3}}
         <div class="center">
            Start production
            <br>    
            <button class="btn btn-default btn-large waves-effect waves-light 10 #78909c indigo z-depth-3 whitetext " type="submit">Package a new job</button>
            <br>
         </div>
         {{/if}}
         {{#if $.Session.equals 'start' 1}}
         <button class="btn btn-default btn-large waves-effect waves-light margin-bottom 9 #78909c indigo z-depth-3 whitetext " type="submit">Package a new job</button>
         <!-- Make this button change the text shown for which department is running-->
         <!-- <button class="btn btn-default 9 #78909c indigo z-depth-3 whitetext" type="submit">Raceway</button>-->
         {{/if}}
         {{#if $.Session.equals 'start' 0}}
         <div class="center ">
            <!-- Change the text here -->
            <span class="thick">   {{text}}  </span>
            <div class="center mytext">
               <input type="initials" name="initials"  required class="form-control mytext"  id="initials" placeholder="" data-disable-touch-keyboard autofocus autocomplete="off">
            </div>
         </div>
          {{/if}}
      </div>
   </div>
   </body>
</template>