

<template name="datasearch">




 <div id=""  class="z-depth-5 center">


  {{> reactiveTable collection=dataentries class="center bordered "}}

 <div class="mytext ">

            <div class="input-field col ">
                <label for="" class="datetext"> <span class="fontbigger"> Name to search for: </span> </label>
                <input id="name" type="text" class="validate required" autofocus autocomplete="off" required/>

            </div>
        </div>

</div>
<div class="center">
<button class="btn btn-default waves-effect waves-light menu z-depth-3 whitetext" type="">Back</button>
</div>
</template>
