

<template name="history">




 <div id=""  class="z-depth-5 center">


  {{> reactiveTable collection=dataentries class="center bordered datahistory" rowsPerPage=5}}


</div>
<div class="center">
<button class="btn btn-default waves-effect waves-light menu z-depth-3 whitetext" type="">Back</button>
</div>

</template>
