<template name="first">
  <style>
 html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }
  table{
     font-size:200%; 
  }
</style>
<body class="">
 {{show}}
 {{datacount}}
 <div id="dataentry_container" class="center" >
<img src="logo.jpg " class="z-depth-3"><br><br>

            <div id="centered_box_data"  class="z-depth-5 center">
            

 <div class="center">
 
 
     
     {{#if $.Session.equals 'count' 0}}
   
  
 <button class="btn btn-default waves-effect waves-light 0 z-depth-3 whitetext" id="test" type="submit">Start data entry</button>
 
 

       {{/if}} 
       
{{#if showdd}}
  <label for="" class="datetext"> <span class="fontbigger"> {{text}} </span> </label>

{{#if $.Session.equals 'count' 3}}
<div class="form-group mytext">
    
    <select id="s1" class="form-control drop" required>
      <option value="temp">Temp</option>
       <option value="permanent">Permanent</option>
     
    </select>

</div>


{{else}}
 {{#if $.Session.equals 'count' 4}}
<!--Need a drop down menu here-->
<div class="form-group mytext">
    
    <select id="s1" class="form-control drop" required>
      <option value="datacom">Datacom</option>
       <option value="packing">Packing</option>
       <option value="manual">Manual</option>
       <option value="scd">SCD</option>
       <option value="manualboxes">Manual Boxes</option>
       <option value="metals">Metals</option>
       <option value="raceway">Raceway</option>
       <option value="wiu">WIU</option>
       <option value="autoboxes">Auto boxes</option>
       <option value="husky">Husky</option>
    </select>

</div>
 

{{else}}
{{#if $.Session.equals 'count' 5}}
<!--At this poin the drop down will be loaded with
the work centers associated with the previously selected
items -->
 <div class="form-group mytext">
    
    <select id="s1" class="form-control drop" required>
     
{{#each workcenters}}
      <option value="{{this}}">{{this}}</option>
 
    {{/each}}
       

    </select>

</div>
{{else}}
{{#if $.Session.equals 'count' 6}}
<div class="form-group mytext">
    
    <select id="s1" class="form-control drop" required>
      <option value="shift 1">1</option>
       <option value="shift 2">2</option>
       <option value="shift 3">3</option>
       
     </select>

</div>
{{/if}}
{{/if}}
 {{/if}}
  {{/if}}
<button class="btn btn-default waves-effect waves-light 5 z-depth-3 whitetext" type="submit">Previous</button>
 <button class="btn btn-default waves-effect waves-light 2 z-depth-3 whitetext" id="test" type="submit">Next</button>   
     {{/if}}
     {{#if $.Session.equals 'count' 9}}
 {{datacount}}
 <button class="btn btn-default waves-effect waves-light 10 z-depth-3 whitetext" type="submit">Data Entry History</button><br>
 <button class="btn btn-default waves-effect waves-light 11 z-depth-3 whitetext" type="submit">Data Entry Search</button><br>
 <button class="btn btn-default waves-effect waves-light weekly z-depth-3 whitetext" type="submit">Entries This Week</button>  <br>    
<button class="btn btn-default waves-effect waves-light daily z-depth-3 whitetext" type="submit">Entries Today</button>  <br>
<button class="btn btn-default waves-effect waves-light start z-depth-3 whitetext" id="test" type="submit">Next entry</button> <br><button class="btn btn-default waves-effect waves-light continue z-depth-3 whitetext" id="test" type="submit">Continue</button> <br> 
     {{/if}}
 {{#if showtext}}
 {{#if $.Session.equals 'count' 1}}
  <div class="mytext ">
            
            <div class="input-field col ">
                <!--<input id="name" type="text" class="validate required" autofocus autocomplete="off" required/>-->
                 <label for="" class="fontbigger"><span class="fontbigger"> {{text}} </span></label> <br>
                {{>opsearchtest}}
               
            </div>
        </div>

<script>
 
$('#name').focus();
 </script>
         <button class="btn btn-default waves-effect waves-light 1 z-depth-3 whitetext" id="test" value="Validate Form" type="submit">Next</button>
      {{else}}
      {{#if $.Session.equals 'count' 2}}


<div class="mytext">
  <label for="" class="datetext"> <span class="fontbigger"> {{text}} </span> </label>
   
 <input id="date" name="date" type="date" class="datepicker center" required/>
 
 </div>
 
  
  


    <script>
 
 $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
$('#date').focus();
 </script>
 <button class="btn btn-default waves-effect waves-light 5 z-depth-3 whitetext" type="submit">Previous</button> 
  <button class="btn btn-default waves-effect waves-light 1 z-depth-3 whitetext" id="test" type="submit">Next</button>
   {{else}}
      {{#if $.Session.equals 'textgo' 1}}
<!--Here show the input asking for planned -->
  <div class="mytext ">
            
            <div class="input-field col ">
                <input id="name" type="text" class="validate required" autofocus autocomplete="off" required/>
                <label for="" class="fontbigger"><span class="fontbigger"> {{text}} </span></label>
            </div>
        </div>

<script>
$('#name').focus();
</script>
<button class="btn btn-default waves-effect waves-light 5 z-depth-3 whitetext" type="submit">Previous</button>
 <button class="btn btn-default waves-effect waves-light 1 z-depth-3 whitetext"  id="test" type="submit">Next</button>
      {{/if}}
    {{/if}}  
  {{/if}}


     {{/if}}
      <!-- <input type="submit" value="Submit" class="btn btn-primary"/> -->


</div>

</div><br>

{{>table}}

</div>




 
</body>

</template>


<template name="continue">
 <div id="dataentry_container" class="center" >
<img src="logo.jpg " class="z-depth-3"><br><br>

            <div id="centered_box_data"  class="z-depth-5 center">
            
{{#if $.Session.equals 'finished' false}}
 <div class="center">
 
 

   <div class="mytext ">
            
            <div class="input-field col ">
                <input id="name1" type="text" class="validate required" autofocus autocomplete="off" required/>
                <label for="" class="fontbigger"><span class="fontbigger"> {{text}} </span></label>
            </div>
        </div>



 <button class="btn btn-default waves-effect waves-light previous z-depth-3 whitetext" type="submit">Previous</button> 
  <button class="btn btn-default waves-effect waves-light next z-depth-3 whitetext" id="test" type="submit">Next</button>
  </div>
{{/if}}
{{#if $.Session.equals 'finished' true}}
 <div class="center">
 
 

   <div class="mytext ">
            
            <div class="input-field col ">
            <button class="btn btn-default waves-effect waves-light next z-depth-3 whitetext" id="test" type="submit">Next Entry</button>
            </div>
        </div>



 
  
  </div>

{{/if}}
        </div>


     <br>

{{>tablenew}}
        </div>
   
</template>



<!--
Date
 -->







<!--
Date
 -->