<template name="downtime">
<script src="/http://code.highcharts.com/highcharts-3d.js"></script>
<div id="container"></div>
<!--Show when this occured-->
<!--This shows a single work center-->
{{timeframe}}

{{> highchartsHelper chartId="test" chartWidth="100%" charHeight="100%" chartObject=topGenresChart}}



<!--<ul id="slide-out" class="side-nav">

   <li>Workcenter search</li>
   <li><label for="" class=""><span class=""> Please enter an operator's name </span></label><br>
   <div class="mytext">

      {{>depsearchtest}}

   </div></li>

 </ul>
 <a data-activates="slide-out" class="button-collapse">Look up Workcenter</a>-->
 <!-- Modal Trigger -->


 <!-- Modal Structure -->
 <!-- Modal -->
 <div class="modal fade" id="modal1" role="dialog">
   <div class="modal-dialog">

     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Department</h4>
       </div>
       <div class="modal-body">
         <div class="input-field col s12">
     <select class="department form-control drop" name="department">
       <option value="" disabled selected>Choose your option</option>
       <option value="raceway">Raceway</option>
       <option value="manualboxes">Manualboxes</option>
       <option value="datacom">Datacom</option>
       <option value="husky">Husky</option>
       <option value="autoboxes">Autoboxes</option>
       <option value="metals">Metals</option>
       <option value="packing">Packing</option>
        <option value="scd">Scd</option>
        <option value="manual">Manual</option>
        <option value="wiu">Wiu</option>


     </select>

   </div>
<!-- Add a section here where I return the workcenters associated with the chosen
department -->

      <table>
        <thead>
          <tr>

              <th>Workcenters</th>
          </tr>
        </thead>

        <tbody>
          <!--Iterate through collection that grabs workcenter associated with each department-->
          {{#each workcenters}}
          <tr>
            <td>{{workcenter}}  {{description}}</td>

          </tr>
          {{/each}}
        </tbody>
      </table>

       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>

   </div>
 </div>


<form class="form-inline center">

        <div class="form-group mytext center-align">
            <div class="input-group input-field col center-align" style="width: 220px;">
                <input id="start"  placeholder="2000-01-01" type="date" class="datepicker validate required text1" required>

                <label for="" class="fontbigger active"> Start Date </label>

            </div>


            <div class="input-group input-field col" style="width: 220px;">
              <input id="end" type="date" placeholder="2100-01-01" class="datepicker validate required text1" required>

                <label for="" class="fontbigger active">End Date </label>

        </div>
         </div>


</form>
<div class="modal fade" id="modal1" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Department</h4>
      </div>
      <div class="modal-body">
        <div class=" col s12">
    <select class="department form-control" name="department">

      <option value="raceway">Raceway</option>
      <option value="manualboxes">Manualboxes</option>
      <option value="datacom">Datacom</option>
      <option value="husky">Husky</option>
      <option value="autoboxes">Autoboxes</option>
      <option value="metals">Metals</option>
      <option value="packing">Packing</option>
       <option value="scd">Scd</option>
       <option value="manual">Manual</option>
       <option value="wiu">Wiu</option>


    </select>

  </div>
<!-- Add a section here where I return the workcenters associated with the chosen
department -->

     <table>
       <thead>
         <tr>

             <th>Workcenters</th>
         </tr>
       </thead>

       <tbody>
         <!--Iterate through collection that grabs workcenter associated with each department-->
         {{#each workcenters}}
         <tr>
           <td>{{workcenter}}  {{description}}</td>

         </tr>
         {{/each}}
       </tbody>
     </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



{{#if $.Session.equals 'loading' 1}}
	 <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

{{/if}}

	<script>

</script>
</template>
