<template name="workcenterfind">
<script src="/http://code.highcharts.com/highcharts-3d.js"></script>
<div id="container"></div>
<!--Show when this occured-->
<!--This shows a single work center-->
{{timeframe}}


<!--<ul id="slide-out" class="side-nav">

   <li>Workcenter search</li>
   <li><label for="" class=""><span class=""> Please enter an operator's name </span></label><br>
   <div class="mytext">

      {{>depsearchtest}}

   </div></li>

 </ul>
 <a data-activates="slide-out" class="button-collapse">Look up Workcenter</a>-->
 <!-- Modal Trigger -->


 <!-- Modal Structure -->
 <!-- Modal -->




	<script>

</script>
</template>
