

<template name="tablenew">



  
 <div id="tabletest"  class="z-depth-5 center">
          



<table class="no-spacing center" id="htmlTable" cellspacing="0" cellpadding = "0">
  <tr>
    <th>Name</th>
    <th>NS</th>
    <th>PD</th>
    <th>LS</th>
    <th>SO</th>
    <th>TR</th>
    <th>PS</th>
    <th>GP</th>
    <th>QI</th>
    <th>OT</th>
    <th>CO</th>
    <th>ED</th>
  </tr>
  <!-- Load session variables here -->
   <tr class="bgtest">
    <td>{{$.Session.get 'name'}}</td>
    <td>{{$.Session.get 'notScheduled'}}</td>
    <td>{{$.Session.get 'plannedDowntime'}}</td>
    <td>{{$.Session.get 'lateStart'}}</td>
    <td>{{$.Session.get 'shortOperators'}}</td>
    <td>{{$.Session.get 'training'}}</td>
    <td>{{$.Session.get 'partsShortage'}}</td>
    <td>{{$.Session.get 'gettingParts'}}</td>
    <td>{{$.Session.get 'qualityIssue'}}</td>
    <td>{{$.Session.get 'other'}}</td>
    <td>{{$.Session.get 'changeover'}}</td>
    <td>{{$.Session.get 'equipmentDowntime'}}</td>
  </tr>
  {{#each dataentries}}
  <tr class="userRow" value="test">
    <td >{{name}}</td>
    <td>{{notScheduled}}</td>
    <td>{{plannedDowntime}}</td>
    <td>{{lateStart}}</td>
    <td>{{shortOperators}}</td>
    <td>{{training}}</td>
    <td>{{partsShortage}}</td>
    <td>{{gettingParts}}</td>
    <td>{{qualityIssue}}</td>
    <td>{{other}}</td>
    <td>{{changeover}}</td>
     <td>{{equipmentDowntime}}</td>
    <td class="hide">{{_id}}</td>
  </tr>
  {{/each}}
</table>


</div>

</template>


